/* * {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
} */

.cor {
    color: #FF8C00;
    font-size: 45px;
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 7px;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
}

.espa {
    margin-bottom: 80px;
    list-style: none;
}



.glyphicon {
    font-size: 25px;
    color: #FF6600;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sair {
    margin-top: 150px;
    padding: 0;
    list-style: none;
    padding: 0;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #f5f6f8;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
}

.sidebar-navigation {
    display: inline-block;
    min-height: 100vh;
    width: 80px;
    background-color: #192026;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-navigation ul {
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
}

.sidebar-navigation ul li {
    padding: 20px 0;
    cursor: pointer;
    transition: all ease-out 120ms;
}

.sidebar-navigation ul li i {
    display: block;
    font-size: 24px;
    transition: all ease 450ms;
}

.sidebar-navigation ul li .tooltip {
    display: inline-block;
    position: absolute;
    background-color: #313443;
    padding: 8px 15px;
    border-radius: 3px;
    margin-top: -26px;
    left: 90px;
    opacity: 0;
    visibility: hidden;
    font-size: 13px;
    letter-spacing: 0.5px;
}

.sidebar-navigation ul li .tooltip:before {
    content: "";
    display: block;
    position: absolute;
    left: -4px;
    top: 10px;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: inherit;
}

.sidebar-navigation ul li:hover {
    background-color: #22252e;
}

.sidebar-navigation ul li:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.sidebar-navigation ul li.active {
    background-color: #22252e;
}

.sidebar-navigation ul li.active i {
    color: #98d7ec;
}