.container-atendente{
    height: 100vh;
    display: flex;
  }
  
  aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    height: 100vh;
    width: 5vw;
  
    background-color: #192026;
  }
  
  .container-brq{
    height: 10em;
  
    
    font-size: 30px;
    font-family: 'Radley', serif;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-brq h1{
    color: #FF8C00;
  }
  
  .person-icon{
    width: 3em;
    height: 3em;
  }
  
  .conversation-icon{
    width: 3em;
    height: 3em;
  }
  
  .logout-icon{
    width: 3em;
    height: 3em;
  
    
  }
  
  .container-icons{
  
    height: 20em;
  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  
  
  }
  
  .container-logout{
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .container-logout a{
    text-decoration: none;
    color: #000;
  }
  .container-icons a{
    text-decoration: none;
    color: #000
  }
  .tooltip:hover{
    text-decoration: none;
    color: #FF8C00;
  }
  
  .container-icons a:hover{
    text-decoration: none;
    color: #FF8C00;
  
  }
  
  .container-icons a:active{
    text-decoration: none;
    color: #FF8C00;
  
  }