#menu{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;



}

@media (min-width: 900px) {
  

   .home{
       margin: auto 0;
       display: flex;
       flex-direction: row;
       justify-content: center;
     }

    a:link #menu  {
         color: white;
       
     }
    
    .links{
        display: block; 
        width: 50em;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        margin: 3.5em;
    }
    .link1{
        display: flex;
        justify-content: space-evenly;
    }
    .link2{
        display: flex;
        justify-content: space-evenly;
    }
    .logo{
        margin:1.5em;
    }

    .banner{
        background-Color:#192026;
        width: 100%;
      
    }

  button.MuiButtonBase-root.MuiButton-root.MuiButton-text {
    display: none;
}
}
    @media (max-width: 900px) {


        .banner{
            background-Color:#192026;
            width:100%;
            height: 5em;
        }

        .logo{
            width: 80px;
            height: 50px;
            margin: 1em;
        }

        .home{
            margin: auto 0;
            display: flex;
          
        
          }

      

       .links{
          display: none;
       }

       button#react-burger-cross-btn {
        width: 100px;
    }
       
.bm-burger-button {
    position: absolute;
    width: 36px;
    height: 20px;
    left: 80%;
    top: 40px;
  }
  
element.style {
    position: fixed;
    z-index: 1000;
    width: 13em;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: opacity 0.3s ease 0s;
}
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #ffffff;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #cfcaca;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 20px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #192026;
    padding: 2em 1em 0;
    font-size: 1.15em;
   
    width: 13em;

  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: grey;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: grey;
  }

     

    }


