*{
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.container{
  width: 100%;
  font-family: Poppins, sans-serif;
  user-select: none;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/*PRIMEIRO BANNER*/
.banner1{
  width: 100%;
}

.banner1 img{
  width: 100%;
}

/*QUEM SOMOS */

.quemSomos{
  width: 80%;
  height: 50em;

  display: flex;
  align-items: center;
  justify-content: center;
}

.quemSomos img{
  width: 35em
}

.text{
  width: 40em;
  height: 20em;
  color: #7B7070;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.text h1{
  font-size: 60px;
  font-family: 'Radley', serif;
}

.text p{
  font-size: 18px;
  font-family: 'Radley', serif;
}

/*SERVIÇOS*/

.containerServices{
  width: 100%;
  height: 50em;

  display: flex;
  justify-content: center;

  background-color: #1A2127;
  color: #FFF;
  font-family: 'Radley', serif;
}
.containerServices h1{
  color: #FFF;
}

.servicos{
  width: 80%;
  height: 50em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.servicos h1{
  font-size: 60px;
}

.servicos p{
  font-size: 30px;
}

.atendimentos{
  width: 100%;

  display: flex;
  justify-content: space-around;
}

.atendimento{
  width: 15em;
  height: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  overflow: hidden;

  border: solid 1px #FFF;
}

.atendimentos h1{
  margin-top: 35px;
  font-size: 25px;
  width: 70%;
  text-align: center;
  font-family: 'Inria Sans', sans-serif;
}

.atendimentos p{
  font-size: 15px;
  width: 70%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

/* INTEGRANTES */

.integrantes{
  width: 80%;
  height: 50em;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.integrantes p{
  font-size: 18px;
  text-align: center;
  color: #7B7070;
  font-family: 'Radley', serif;
}

.integrantes h1{
  font-size: 60px;
  margin-top: 1em;
  color: #7B7070;
  font-family: 'Radley', serif;
}

.samanta{
  width: 15em
}

.linkedin{
  margin-top: .5em;
  width: 2em;
  height: 2em;
}

.containerIntegrantes{
  width: 15em;
  height: 20em;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.containerIntegrantes1{
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.containerIntegrantes2{
  width: 70%;
  display: flex;
  justify-content: space-around;
}

/* RODAPE */

.containerRodape{
  width: 80%;
  height: 10em;

  margin-top: 4em;

  border-top: 1px solid ;
  display: flex;
  align-items: center;
  justify-content: center;
}