.container {
    display: flex;
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    overflow: hidden;
}

.listOfUsers {
    width: 30%;
    height: 100%;
    overflow-x: hidden;
    border-right: 1px solid #ccc;
}

.chatArea {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.486);
}

.chatHeader {
    width: 100%;
    height: 76px;
    text-align: center;
    line-height: 40px;
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.486);
    padding-left: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.chatHeader p {
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
}

.chatControls {
    display: flex;
    position: fixed;
    width: 66%;
    height: 50px;
    bottom: 0;
    margin-left: 30px;
    margin-bottom: 10px;
}

.chatControls textarea {
    width: 90%;
}

.chatControls button {
    width: 10%;
}

.displayName {
    display: flex;
    align-items: center;
    padding: 18px 10px;
    font-size: 23px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.486);
    cursor: pointer;
}

.displayName.active {
    background: #ccc;
}

.displayPic {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 25px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.pic1{
    color:rgba(0, 0, 0, 0.651);
}

.displayName .displayPic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.messageStyle {
    background: #b2b2b270;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px;
    font-size: 20px;
    display: inline-block;
}

.messageSections {
    height: 69%;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    top: 40px;
}

.onlineStatus {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #16e316;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #16e316;
    margin-top: 6px;
}

.onlineStatus.off {
    background: green;
    box-shadow: 0 0 0 0;
}

.ContainerPrincipal {
    display: flex;
    width: 1920px;
    height: 1080px;
}

.Container1 {
    width: 100%;
    height: 100%;
}

.Container2 {
    width: 100%;
    height: 100%;
    display: flex;
}

.Historico {
    width: 20%;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.486);
    background-color: rgba(204, 204, 204, 0.479);
}

.Titulo {
    display: flexbox;
}

.titulo {
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    /* font-weight:bold; */
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 5px;
    justify-content: flex-start;
}

.blockHistory {
    width: 100%;
    height: 7%;
    filter: invert(.09);
    border-bottom: 1px solid rgba(0, 0, 0, 0.486);
}

.linha-horizontal {
    width: 200%;
    border: 1px solid #000;
    filter: invert(.9);
}

.linha-horizontal2 {
    width: 200%;
    border: 1px solid #000;
    filter: invert(.9);
}

.all {
    margin-top: 25px;
    margin-left: 45px;
    float: left;
}

.edition {
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 25px;
    float: left;
}

.mm {
    margin-left: 110px;
    float: left;
    margin-top: 30px;
}

.vl {
    border: 1px solid #000;
    filter: invert(.9);
    height: 100%;
    position: absolute;
    left: 25%;
    top: 0;
    margin: 86px;
}

.vm {
    border: 1px solid black;
    filter: invert(.9);
    height: 100%;
    position: absolute;
    left: 73%;
    top: 0;
    margin: 86px;
}

.fixo {
    margin-top: 25px;
    font-size: 20px;
    float: left;
    margin-left: 790px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    ;
}





.default {
    border-style: none;
    background-color: white;
    margin-left: 65%;
    position: absolute;
}

.default2 {
    border-style: none;
    background-color: none;
    margin: auto;
}

.uploadLabel {
    display: inline-block;
    border-style: none;
    padding: 3px 10px;
    cursor: pointer;
    background-color: none;
    margin-left: 71%;
}

.uploadButton {
    display: none;
}

.ChatCentral {
    width: 80%;
    height: 100%;
}

.Container3 {
    width: 20%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BlockInformacao {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    width: 100%;
    height: 30px;
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info2 {
    width: 100%;
    height: 30px;
    margin-top: 55px;
    border-radius: 6px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.imgInfo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.col-md-4.col-6 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.mm2 {
    color: rgba(2, 2, 2, 0.603)
}

.enviar{
    transform: rotate(45deg);
}