
.listOfUsers {
    width: 30%;
    height: 100%;
    overflow-x: hidden;
    border-right: 1px solid #ccc;
}

.chatArea {
    width: 100%;
    height: 90%;
    
}

.chat-area-conversation{
    width: 100%;
    height: 90%;
    overflow-x: hidden;
}

.chatHeader {
    width: 100%;
    height: 7.5%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.486);
}

.chatHeader p {
    margin-top: 10px;
    margin-left: 15px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.Chat-area-controls{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
}

.chatControls {
    display: flex;
    justify-content: space-around;
    width: 65%;
    height: 40px;
    bottom: 0;
    margin-left: 30px;
    margin-bottom: 10px;
}

.chatControls textarea {
    width: 90%;
}

.chatControls button {
    width: 10%;
}

.displayName {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 18px 10px;
    font-size: 23px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.486);
    cursor: pointer;
}

.displayName.active {
    background: #ccc;
}

.displayPic {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 25px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.pic1{
    color:#afafaf;
}

.displayName .displayPic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.messageStyle {
    background: #b2b2b270;
    display: flex;
    height: 40px;
    padding: 1px 10px;
    border-radius: 10px;
    margin: 5px;
    font-size: 25px;
    display: inline-block;

}

.messageSections {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    top: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.486);
}

.onlineStatus {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #16e316;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #16e316;
    margin-top: 6px;
}

.onlineStatus.off {
    background: green;
    box-shadow: 0 0 0 0;
}

.ContainerPrincipal {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.Container1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.Container2 {
    width: 100%;
    height: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.486);
    display: flex;
}

.Historico {
    width: 26%;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.486);
    background-color: rgba(178, 178, 178, 0.2);
}

.Titulo {
    display: flexbox;
}

.titulo {
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    /* font-weight:bold; */
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 5px;
    justify-content: flex-start;
}

.blockHistory {
    width: 100%;
    height: 7%;
    filter: invert(.09);
    border-bottom: 1px solid rgba(0, 0, 0, 0.486);
}

.linha-horizontal {
    width: 200%;
    border: 1px solid rgba(0, 0, 0, 0.486);
    filter: invert(.9);
}

.linha-horizontal2 {
    width: 200%;
    border: 1px solid rgba(0, 0, 0, 0.486);
    filter: invert(.9);
}

.all {
    margin-top: 25px;
    margin-left: 45px;
    float: left;
}

.edition {
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 25px;
    float: left;
}

.mm {
    margin-left: 110px;
    float: left;
    margin-top: 30px;
}

.vl {
    border: 1px solid rgba(0, 0, 0, 0.486);
    filter: invert(.9);
    height: 100%;
    position: absolute;
    left: 25%;
    top: 0;
    margin: 86px;
}

.vm {
    border: 1px solid rgba(0, 0, 0, 0.486);
    filter: invert(.9);
    height: 100%;
    position: absolute;
    left: 73%;
    top: 0;
    margin: 86px;
}

.fixo {
    margin-top: 25px;
    font-size: 20px;
    float: left;
    margin-left: 790px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    ;
}





.default {
    border-style: none;
    background-color: white;
    margin-left: 65%;
    position: absolute;
}

.default2 {
    border-style: none;
    background-color: none;
    margin: auto;
}

.uploadLabel {
    display: inline-block;
    border-style: none;
    padding: 3px 10px;
    cursor: pointer;
    background-color: none;
    margin-left: 71%;
}

.uploadButton {
    display: none;
}

.ChatCentral {
    width: 80%;
    height: 80%;
}

.Container3 {
    width: 20%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgba(0, 0, 0, 0.486);
}

.BlockInformacao {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    width: 100%;
    height: 30px;
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info2 {
    width: 100%;
    height: 30px;
    margin-top: 55px;
    border-radius: 6px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.imgInfo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.col-md-4.col-6 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.mm2 {
    color: rgba(0, 0, 0, 0.486)
}

.enviar{
    transform: rotate(45deg);
}